.main-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    height: 450px;
}

.review-img img{
    border-radius: 50%;
}

.common-color-btn{
    background-color: #0991B1;
    color: white;
    border: none;
}